[submodule "react-weather-forecast"]
path = react-weather-forecast
url = https://github.com/tdyomina/sheCodes/tree/main/react-weather-forecast

[submodule "react-weather-project"]
path = react-weather-project
url = https://github.com/tdyomina/react-weather-project